*{
    font-family: 'Comic Sans MS';
}
body{
    background-color: #297667; 
      
}

h1{
    text-align: center;
}
h2{
    text-align: center;
}

#styling{
    width: 40%;
    margin: 10vh auto;
    min-height: 80vh;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    background-color: #9eddd1;
    border: 2px;
    border-radius: 10px;
    box-shadow: 0 0 0.5rem #78d0bf;
}

#guessField{
    line-height: 30px;
    width: 195px;
    height: 45px;
    border-radius: 10px;
    text-align: center;
    margin-top: 10px;
    background-color: #f5ffff;
    border: 2.5px solid #074137;
}

.buttons{
    line-height: 30px;
    width: 200px;
    height: 50px;
    margin-top: 10px;
    cursor: pointer;
    background-color: #f5ffff;
    border: 2.5px solid #074137;
    border-radius: 10px;
}